@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: rgb(52, 52, 211);
}

.container {
    min-height: 100vh;
    height: 100%;
    display: block;
}

.section-header {
    width: 100%;
    padding: .5rem;
    background-color: rgb(52, 52, 211);
}

.navbar span {
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    opacity: 0.7;
}

.budget-balance .title {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    opacity: 0.7;
}

.budget-balance .budget {
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
}

h2 {
    color: white;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
}

.card {
    width: 12rem;
    border-radius: 12px;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 14rem;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper-flexbox .card-expense {
    background-color: #D5DCEF;
}

.card-expense .expense-budget {
    font-size: 1.3rem;
    font-weight: 500;
}

.card-expense .title-expense {
    font-size: 1.1rem;
    color: gray;
    font-weight: 500;
}

.scrolling-wrapper-flexbox .card-saving {
    background-color: #bfeeb8;
}

.card-saving .saving-budget {
    font-size: 1.3rem;
    font-weight: 500;
}

.card-saving .title-saving {
    font-size: 1.1rem;
    color: red;
    font-weight: 500;
}

.section-transactions{
  background: white !important;
  min-height: 20em;
  height: 100%;
  width: 99.4vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}